{% extends 'layouts/base.html' %}


{% block content %}
    <div class="container">
        <br/><br/>
        <br/><br/>
        <div class="col-md-6 offset-md-3">
            <h5>E-commerce, short for electronic commerce, encompasses the buying and selling of goods or services using electronic networks, primarily the internet.</h5>
            <h5>Key Aspects:</h5>
            <ul>
            <li><h5>Online Shopping: Consumers browse and purchase products or services through websites, mobile apps, or other digital platforms.</h5></li>
            <li><h5>Beyond Retail: E-commerce extends beyond online shopping, including:</h5></li>
            <ul>
                <li><h5>Business-to-Business (B2B) transactions: Companies conducting business with other companies online.</h5></li>
                <li><h5>Online auctions and marketplaces: Platforms like eBay where individuals and businesses can buy and sell items.</h5></li>
                <li><h5>Digital downloads: Purchasing music, movies, software, ebooks, etc.</h5></li>
                <li><h5>Online banking and financial services: Managing accounts, making payments, and transferring funds electronically.</h5></li>
                </ul>
            </ul>
            <h5>Benefits:</h5>
            <ul>
                <li><h5>Convenience: Shop 24/7 from anywhere with internet access.</h5></li>
                <li><h5>Wide Selection: Access to a global market with a vast array of products.</h5></li>
                <li><h5>Price Comparison: Easily compare prices from multiple sellers.</h5></li>
                <li><h5>Personalized Experiences: Tailored recommendations, targeted ads, and customized shopping journeys.</h5></li>
            </ul>
            <h5>E-commerce has revolutionized how businesses operate and how consumers shop, offering unprecedented convenience and access to a global marketplace.</h5>
        </div>
        <br/><br/>
        <br/><br/>
    </div>
{% endblock %}