{% extends 'layouts/base.html' %}


{% block content %}
{% load static %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
            {% for category in categories %}
                <div class="col mb-5">
                    <div class="card h-100" data-clickable="true" data-href="{% url 'store:category' category.id %}">
                        <img class="card-img-top" src="{{ category.category_image.url }}" alt="..." />
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="nav-link " href="{% url 'store:category' category.id %}">{{ category }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<br/><br/>
<br/><br/>
{% endblock %}